<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="get_country_from_freegeoip" instance="Namluu\FreeGeoIp\Observer\GetCountryFromIpObserver" />
    </event>
</config>