<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="page404manager" frontName="page404manager">
            <module name="Bluecom_Page404Manager" />
        </route>
    </router>
</config>