<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <msmultiflat>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Bluecom\Shipping\Model\Carrier\Multiflat</model>
                <name>Pickup at Event</name>
                <title>No Charge</title>
                <type>I</type>
                <details>Enter pickup instructions here.</details>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </msmultiflat>
        </carriers>
    </default>
</config>
